In [1]:
import pandas as pd

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [7]:
kohli=[]
url="https://www.espncricinfo.com/india/content/player/253802.html"
text=urlopen(url)
soup=BeautifulSoup(text,"lxml")
table=soup.findAll('table',attrs={'class':'engineTable'})
int_table=table[3]
tr_list=int_table.findAll('tr',attrs={'class':'data1'})
for tr in tr_list:
    td_list=tr.findAll('td')
    row_data=[]
    for td in td_list:
        td_str=str(td)
        clean_text=BeautifulSoup(td_str,"lxml").get_text()
        row_data.append(clean_text)
    kohli.append(row_data)
kohli

[['56', 'India', 'v England', 'Pune', '23 Mar 2021', 'ODI # 4281'],
 ['80*', 'India', 'v England', 'Ahmedabad', '20 Mar 2021', 'T20I # 1138'],
 ['1', 'India', 'v England', 'Ahmedabad', '18 Mar 2021', 'T20I # 1135'],
 ['77*', 'India', 'v England', 'Ahmedabad', '16 Mar 2021', 'T20I # 1133'],
 ['73*', 'India', 'v England', 'Ahmedabad', '14 Mar 2021', 'T20I # 1132'],
 ['0', 'India', 'v England', 'Ahmedabad', '12 Mar 2021', 'T20I # 1131'],
 ['0', 'India', 'v England', 'Ahmedabad', '4 Mar 2021', 'Test # 2414'],
 ['27', 'India', 'v England', 'Ahmedabad', '24 Feb 2021', 'Test # 2412'],
 ['0, 62', 'India', 'v England', 'Chennai', '13 Feb 2021', 'Test # 2411'],
 ['11, 72', 'India', 'v England', 'Chennai', '5 Feb 2021', 'Test # 2409']]

In [8]:
kohli_df=pd.DataFrame(kohli)
kohli_df

        0      1          2          3            4            5
0      56  India  v England       Pune  23 Mar 2021   ODI # 4281
1     80*  India  v England  Ahmedabad  20 Mar 2021  T20I # 1138
2       1  India  v England  Ahmedabad  18 Mar 2021  T20I # 1135
3     77*  India  v England  Ahmedabad  16 Mar 2021  T20I # 1133
4     73*  India  v England  Ahmedabad  14 Mar 2021  T20I # 1132
5       0  India  v England  Ahmedabad  12 Mar 2021  T20I # 1131
6       0  India  v England  Ahmedabad   4 Mar 2021  Test # 2414
7      27  India  v England  Ahmedabad  24 Feb 2021  Test # 2412
8   0, 62  India  v England    Chennai  13 Feb 2021  Test # 2411
9  11, 72  India  v England    Chennai   5 Feb 2021  Test # 2409

In [9]:
kohli_df.columns=['Bat&Bowl','Team','Opposition','Ground','Match Date','Scorecard']

In [10]:
kohli_df

  Bat&Bowl   Team Opposition     Ground   Match Date    Scorecard
0       56  India  v England       Pune  23 Mar 2021   ODI # 4281
1      80*  India  v England  Ahmedabad  20 Mar 2021  T20I # 1138
2        1  India  v England  Ahmedabad  18 Mar 2021  T20I # 1135
3      77*  India  v England  Ahmedabad  16 Mar 2021  T20I # 1133
4      73*  India  v England  Ahmedabad  14 Mar 2021  T20I # 1132
5        0  India  v England  Ahmedabad  12 Mar 2021  T20I # 1131
6        0  India  v England  Ahmedabad   4 Mar 2021  Test # 2414
7       27  India  v England  Ahmedabad  24 Feb 2021  Test # 2412
8    0, 62  India  v England    Chennai  13 Feb 2021  Test # 2411
9   11, 72  India  v England    Chennai   5 Feb 2021  Test # 2409